<template>
  <div>
    <v-row>
        <v-col cols="12">
            <svg-icon type="mdi" :path="path"></svg-icon>
        </v-col>
    </v-row>
    <v-btn color="success" @click="newItem()">NewItem</v-btn>
    <v-row>
        <v-col cols="3" v-for="(item, index) in apidata" :key="index">
        <v-card >
            <h1>{{item}} {{item.name}}</h1>
            <v-card-actions>
                <v-btn color="info" @click="editItem(item)">EditItem</v-btn>
                <v-btn color="error" @click="saveDelete(item)">Remove</v-btn>
            </v-card-actions>
        </v-card>
    </v-col>
    </v-row>
    <h1></h1>
    <v-dialog
        v-model="dialogedit"
        max-width="500px"
    >
        <v-card>
            <v-card-title>
                title
            </v-card-title>
            <v-card-text>
                <v-row>
                <v-col cols="6">
                    <v-text-field
                        name="name"
                        label="name"
                        id="id"
                        v-model="postdata.name"
                    ></v-text-field>
                </v-col>
                <v-col cols="6">
                    <v-text-field
                        name="password"
                        label="password"
                        id="id"
                        v-model="postdata.password"
                    ></v-text-field>
                </v-col>
                </v-row>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="error" @click="closeItem()" text>cancle</v-btn>
                <v-btn color="info" @click="saveSelect()" text>save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mdiBasketOutline } from '@mdi/js'
export default {
  name: 'my-component',
  data () {
    return {
      path: mdiBasketOutline,
      id: '',
      dialogedit: false,
      apidata: [],
      postdata: {
        username: '',
        password: '',
        name: '',
        surname: '',
        age: '',
        gender: ''
      },
      postdefault: {
        username: '',
        password: '',
        name: '',
        surname: '',
        age: '',
        gender: ''
      }
    }
  },
  created () {
    this.getData()
  },
  computed: {
    savemode () {
      return this.id === '' ? 'NewItem' : 'EditItem'
    }
  },
  methods: {
    newItem () {
      this.id = ''
      this.postdata = { ...this.postdefault }
      this.dialogedit = true
    },
    editItem (item) {
      this.id = item._id
      this.postdata = item
      this.dialogedit = true
    },
    closeItem () {
      this.id = ''
      this.postdata = { ...this.postdefault }
      this.dialogedit = false
    },
    saveSelect () {
      if (this.id !== '') {
        this.savePutData(this.id)
        alert('edit')
      } else {
        this.savePostData()
      }

      this.dialogedit = false
    },
    getData () {
      this.axios('http://localhost:3000/users').then((response) => {
        console.log(response.data.data)
        this.apidata = response.data.data
      })
    },
    async savePostData () {
      try {
        const { data } = await this.axios.post('http://localhost:3000/users/create', this.postdata)
        console.log(data)
        alert('save postdata')
        this.getData()
        this.closeItem()
      } catch (error) {
        console.log(error)
        alert('error')
      }
    },
    async savePutData () {
      try {
        console.log(this.postdata)
        const { data } = await this.axios.put('http://localhost:3000/users/' + this.id, this.postdata)
        console.log(data)
        alert('save editdata')
        this.getData()
        this.closeItem()
      } catch (error) {
        console.log(error)
        alert('error')
      }
    },
    async saveDelete (item) {
      try {
        if (confirm('delete it')) {
          const { data } = await this.axios.delete('http://localhost:3000/users/' + item._id)
          console.log(data)
          alert('Already deleted')
          this.getData()
          this.closeItem()
        }
      } catch (error) {
        console.log(error)
        alert('error')
      }
    }
  }
}
</script>

<style>

</style>
