<template>
  <div>
    <v-app-bar :elevation="3">
    <template v-slot:prepend>
        <v-app-bar-nav-icon></v-app-bar-nav-icon>
    </template>
      <v-app-bar-title>
        <v-app-bar-nav-icon></v-app-bar-nav-icon>
      </v-app-bar-title>
    </v-app-bar>
    <div class="topbar">

    </div>
    <div class="titlebar">
        <v-row>
            <v-col sm="12">
                <span class="titleStyle">จ่ายบิล</span>
            </v-col>
        </v-row>
    </div>
    <v-card>
      <v-tabs v-model="tab" align-tabs="center" color="deep-purple-accent-4" grow>
          <v-tab :value="1"><span>สรุปยอดรายวัน</span></v-tab>
          <v-tab :value="2"><span>บิลของฉัน</span></v-tab>
      </v-tabs>
    </v-card>
    <v-tabs-window
        v-model="tab"
    >
        <v-tabs-window-item
            v-if="tab == 0"
        >
            <v-row class="mt-2 mr-1 ml-1">
                <v-col>
                    <span>
                        รอบบิล :
                    </span>
                </v-col>
                <v-col class="d-flex justify-end">
                    <v-btn small elevation="2">
                        <v-icon color="aquamarine" >
                            mdi-tune
                        </v-icon>
                    </v-btn>
                </v-col>
            </v-row>
            <v-row >
                <v-col class="d-flex justify-center">
                    <v-card min-width="400px" min-height="600px" class="rounded-xl">
                        <v-row class="mt-1 ml-1 mb-1">
                            <v-col cols="2" class="ml-0">
                                <v-icon large>mdi-calendar-blank</v-icon>
                            </v-col>
                            <v-col cols="10" class="mr-0 mt-2">
                                <v-row>
                                    <span class="span0">
                                        ประจำวันที่
                                    </span>
                                </v-row>
                                <v-row>
                                    <span class="span1">
                                        ตัดยอด
                                    </span>
                                </v-row>
                            </v-col>
                        </v-row>
                        <v-divider></v-divider>
                        <v-row class="mt-2 mb-2">
                            <v-col class="d-flex justify-start ml-4">
                                <span class="span2">รวมงานสำเร็จ</span>
                            </v-col>
                            <v-col class="d-flex justify-end mr-4">
                                <span class="span2">รายการ</span>
                            </v-col>
                        </v-row>
                        <v-row class="d-flex justify-center">
                            <div tile class="red-card">
                                <v-row class="mt-2 mb-2">
                                    <v-col class="d-flex justify-start ml-4">
                                        <span class="span3">รวมรายการโอนคืน GO</span>
                                    </v-col>
                                    <v-col class="d-flex justify-end mr-4">
                                        <span class="span3">20</span>
                                    </v-col>
                                </v-row>
                            </div>
                        </v-row>
                        <v-row class="d-flex justify-center">
                            <v-col class="mr-4 ml-4">
                            <v-expansion-panels accordion class="rounded-pill">
                                <v-expansion-panel>
                                    <v-expansion-panel-header>
                                        <v-row>
                                            <v-col class="d-flex justify-center">
                                                <span class="span0">แสดงเพิ่มเติม</span>
                                            </v-col>
                                        </v-row>
                                    </v-expansion-panel-header>
                                    <v-expansion-panel-content>
                                        <span>ใส่อะไรมั่งอ่ะ!!!</span>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                            </v-expansion-panels>
                            </v-col>
                        </v-row>
                    </v-card>
                </v-col>
            </v-row>
        </v-tabs-window-item>
        <v-tabs-window-item
            v-if="tab == 1"
        >
            hello2
        </v-tabs-window-item>
    </v-tabs-window>
    <v-container class="container">
      <v-row>
        <v-col sm="12">
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data () {
    return {
      toggle_exclusive: undefined,
      tab: null
    }
  }
}
</script>

<style>
  .containers {
    width: 100%;
  }

  .topbar {
    height: 50px;
    background-color: rgb(71, 220, 171);
  }

  .titlebar {
    height: 50px;
    background-color: rgb(16, 203, 141);
    align-content: center;
    text-align: center;
  }

  .titleStyle {
    font-size: 24px;
    color: white;
  }

  .buttonlist {
    align-items: center;
    justify-items: center;
    width: 100%;
  }

  .icon {
    color: aquamarine;
  }

  .card {
    border-radius: 50px;
  }

  .span0 {
    font-size: 16px;
  }

  .span1 {
    color: red;
    font-size: 14px;
  }

  .span2 {
    color: black;
    font-size: 14px;
  }

  .span3 {
    color: red;
    font-size: 16px;
    justify-self: center;
  }

  .red-card {
    background-color: rgb(255, 237, 237);
    border-radius: 5px;
    width: 370px;
  }
</style>
