<template>
  <div>
    <v-row>
        <v-col>
            <span>
                Hello
            </span>
        </v-col>
    </v-row>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
