<template>
  <v-app>
    <v-app-bar
            class="ml-14"
            fixed
            color="aquamarine accent-4"
            dark
        >
        <v-spacer></v-spacer>
        <span>WELCOME, บริษัท ไทย ดอท คอม เพย์เม้น จำกัด</span>
        <v-btn light class="ml-5" small @click="hadleLogout()">LOGOUT</v-btn>
    </v-app-bar>
    <v-container class="ml-16 mt-16 mr-16 d-md pr-16" fluid v-if="paymentspages === 'table'">
        <v-row class="mt-10 ml-5 mb-5">
            <v-col>
                <p class="title">
                    ประวัติการชำระเงิน
                </p>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="3">
                <v-menu
                ref="menu"
                v-model="menu"
                :close-on-content-click="false"
                :return-value.sync="date"
                transition="scale-transition"
                offset-y
                >
                <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                    v-model="date_start"
                    label="วันที่"
                    append-icon="mdi-calendar"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                    placeholder="Pick date"
                    rounded
                    solo
                    ><v-icon>mdi-calendar-blank</v-icon></v-text-field>
                </template>
                <v-date-picker
                    v-model="date_start"
                    no-title
                    scrollable
                >
                    <v-spacer></v-spacer>
                    <v-btn
                    text
                    color="primary"
                    @click="menu = false"
                    >
                    Cancel
                    </v-btn>
                    <v-btn
                    text
                    color="primary"
                    @click="handleScopeDateTime()"
                    >
                    OK
                    </v-btn>
                </v-date-picker>
                </v-menu>
            </v-col>
            <v-col cols="3">
                <v-menu
                ref="menu"
                v-model="menu2"
                :close-on-content-click="false"
                :return-value.sync="date"
                transition="scale-transition"
                offset-y
                min-width="auto"
                >
                <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                    v-model="date_end"
                    label="ถึง"
                    append-icon="mdi-calendar"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                    placeholder="Pick date"
                    solo
                    rounded
                    ><v-icon>mdi-calendar-blank</v-icon></v-text-field>
                </template>
                <v-date-picker
                    v-model="date_end"
                    no-title
                    scrollable
                >
                    <v-spacer></v-spacer>
                    <v-btn
                        text
                        color="primary"
                        @click="menu2 = false"
                    >
                    Cancel
                    </v-btn>
                    <v-btn
                        text
                        color="primary"
                        @click="handleScopeDateTime()"
                    >
                    OK
                    </v-btn>
                </v-date-picker>
                </v-menu>
            </v-col>
            <v-col cols="6">
                <v-row>
                    <v-col cols="8">
                        <v-text-field
                            v-model="search"
                            solo
                            class="rounded-pill"
                            label="ค้นหา"
                            append-icon="mdi-magnify"
                        >
                        </v-text-field>
                    </v-col>
                    <v-col cols="4">
                      <v-row>
                        <v-col cols="6">
                          <v-btn color="aquamarine" class="rounded-xxl white--text" large @click="handleScopeDateTime()">
                              ค้นหา
                          </v-btn>
                        </v-col>
                        <v-col cols="6">
                          <v-btn color="aquamarine" class="rounded-xxl white--text" large @click="clearState()">
                              ล้าง
                          </v-btn>
                        </v-col>
                      </v-row>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
        <v-row>
            <v-col class="mr-5">
                <v-data-table
                    :headers="headers"
                    :items="payments"
                    :items-per-page="5"
                    :search="search"
                    class="elevation-1"
                ></v-data-table>
            </v-col>
        </v-row>
        <v-row>
            <v-col class="d-flex justify-end mr-5">
                <PaymentDialog/>
            </v-col>
        </v-row>
    </v-container>
    <v-container class="ml-16 mt-16 mr-16 d-md pr-16" fluid v-if="paymentspages === 'checkbill'">
      <CheckbillPage/>
    </v-container>
    <v-container class="ml-16 mt-16 mr-16 d-md pr-16" fluid v-if="paymentspages === 'email'">
      <EmailPaymentEdit/>
    </v-container>
    <v-container class="ml-16 mt-16 mr-16 d-md pr-16" fluid v-if="paymentspages === 'dashboard'">
      <PaymentDashboard/>
    </v-container>
    <!-- <IfreamDialog/> -->
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="mini"
      disable-resize-watcher
      permanent
      absolute
    >
      <v-list dense class="mt-14" mandatory>
          <v-list-item-group
              active-class="border"
          >
              <v-list-item
                  v-for="item in items"
                  :key="item.title"
                  link
                  color="aquamarine"
                  active-class="border"
                  @click="handleTitleValue(item.value)"
              >
                  <v-list-item-icon grow>
                      <v-icon>{{ item.icon }}</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                  <v-list-item-title>{{ item.title }}</v-list-item-title>
                  </v-list-item-content>
              </v-list-item>
          </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </v-app>
</template>

<script>
import PaymentDialog from '../components/PaymentDialog'
import CheckbillPage from './Checkbill'
import EmailPaymentEdit from './EmailPaymentEdit'
import PaymentDashboard from './PaymentDashboard'
// import IfreamDialog from '../components/IfreamDialog'

export default {
  components: {
    PaymentDialog,
    CheckbillPage,
    EmailPaymentEdit,
    PaymentDashboard
    // IfreamDialog
  },
  data () {
    return {
      drawer: true,
      items: [
        { icon: 'mdi-loading', value: 'dashboard' },
        { icon: 'mdi-cloud-upload' },
        { icon: 'mdi-clipboard-text-outline', value: 'table' },
        { icon: 'mdi-update' },
        { icon: 'mdi-email-outline', value: 'email' }
      ],
      mini: true,
      open: true,
      date: false,
      menu: false,
      menu2: false,
      datestart: '',
      dateend: '',
      headers: [
        {
          text: 'เลขที่ใบแจ้งหนี้',
          align: 'start',
          sortable: false,
          value: '_id'
        },
        { text: 'ชื่อผู้ใช้บริการ', value: 'username' },
        { text: 'รายการ', value: 'list' },
        { text: 'วันที่ชำระเงิน', value: 'paydate' },
        { text: 'ยอดชำระเงิน', value: 'paycost' },
        { text: 'เลขที่อ้างอิงการชำระเงิน', value: 'reference1' },
        { text: 'เลขที่อ้างอิงคำสั่งรับเงิน', value: 'reference2' }
      ],
      data: [
        {
          bill_id: 'POKA123456789',
          username: 'PokA',
          list: 'ถุงเท้า',
          paydate: '2024-05-16 16:06:05',
          paycost: '10.00',
          reference1: 'P24051612038740',
          reference2: '14052024040021366'
        }
      ]
    }
  },
  created () {
    this.$store.dispatch('payments/ReadPayment')
    this.$store.commit('payments/UpdatePaymentPage', 'title')
  },
  computed: {
    payments () {
      return this.$store.getters['payments/GetPayments']
    },
    search: {
      get () {
        return this.$store.state.payments.search
      },
      set (value) {
        return this.$store.commit('payments/UpdateSearchKeyValue', value)
      }
    },
    date_start: {
      get () {
        return this.$store.getters['payments/GetStartDate']
      },
      set (value) {
        return this.$store.commit('payments/SetStartDateTime', value)
      }
    },
    date_end: {
      get () {
        return this.$store.getters['payments/GetEndDate']
      },
      set (value) {
        return this.$store.commit('payments/SetEndDateTime', value)
      }
    },
    paymentspages: {
      get () {
        return this.$store.state.payments.paymentspages
      }
    },
    token: {
      get () {
        return this.$store.getters['authentication/GetToken']
      }
    }
  },
  methods: {
    handleTitleValue (title) {
      if (title !== undefined) {
        this.$store.commit('payments/UpdatePaymentPage', title)
        console.log(title)
      }
    },
    handleScopeDateTime () {
      this.$store.dispatch('payments/QueryPaymentByDate')
    },
    clearState () {
      this.$store.commit('payments/SetClearStateValues')
    },
    hadleLogout () {
      this.$store.dispatch('authentication/logOut')
    }
  }
}
</script>

<style>
  .border {
    border-radius: 16px;
  }

  .title {
    font-size: 24px;
  }

  .tableheader {
    font-size: 18px;
  }
</style>
