<template>
  <div>
    <v-row>
        <v-col>
            <span class="title">ออกใบเสร็จชำระเงิน</span>
        </v-col>
    </v-row>
    <v-row>
        <v-col cols="4">
            <v-card>
                <div class="ml-5 mt-2 mb-2">555555</div>
            </v-card>
        </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'CheckbillPage'
}
</script>

<style>
  .title {
    font-size: 24px;
  }
</style>
