<template>
  <div>
    <v-row class="mt-3 mb-2 ml-3">
        <v-col class="d-flex justify-start">
            <span class="title-text">การจัดการอีเมล</span>
        </v-col>
    </v-row>
    <v-container class="container-layout" fluid>
        <v-row>
            <v-col>
                <v-row>
                    <v-col cols="6">
                        <v-row>
                            <v-col cols="4">
                                <v-btn block elevation="0" outlined color="aquamarine" large>
                                    <span class="font-weight-bold">ชื่อลูกหนี้</span>
                                </v-btn>
                            </v-col>
                            <v-col cols="4">
                                <v-btn block elevation="0" outlined color="aquamarine" large>
                                    <span class="font-weight-bold">เลขที่ใบแจ้งหนี้</span>
                                </v-btn>
                            </v-col>
                            <v-col cols="4">
                                <v-btn block elevation="0" outlined color="aquamarine" large>
                                    <span class="font-weight-bold">ลิงค์การชำระเงิน</span>
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-text-field
                            outlined
                            label="ชื่อเรื่อง"
                            color="aquamarine"
                            hide-details
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-card
                            outlined
                        >
                            <v-btn-toggle
                                multiple
                                v-model="textStyles"
                            >
                                <v-btn @click="toggleStyle('bold')">
                                    <v-icon>mdi-format-bold</v-icon>
                                </v-btn>
                                <v-btn @click="toggleStyle('italic')">
                                    <v-icon>mdi-format-italic</v-icon>
                                </v-btn>
                                <v-btn @click="toggleStyle('underline')">
                                    <v-icon>mdi-format-underline</v-icon>
                                </v-btn>
                                <v-btn @click="toggleStyle('bulleted')">
                                    <v-icon>mdi-format-list-bulleted</v-icon>
                                </v-btn>
                                <v-btn @click="toggleStyle('numbered')">
                                    <v-icon>mdi-format-list-numbered</v-icon>
                                </v-btn>
                            </v-btn-toggle>
                        </v-card>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-textarea
                            outlined
                            multi-line
                            height="300px"
                            hide-details
                            color="aquamarine"
                            ref="textarea"
                            :class="appliedStyles"
                        >
                        </v-textarea>
                    </v-col>
                </v-row>
                <v-row >
                    <v-col class="d-flex justify-end mr-5">
                        <v-btn color="aquamarine" class="white--text">บันทึกแบบฟอร์ม</v-btn>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: 'EmailPaymentEdit',
  data () {
    return {
      tabspage: [
        { tabname: 'debtor' },
        { tabname: 'Invoice' },
        { tabname: 'Paylink' }
      ],
      emailpages: '',
      textStyles: []
    }
  },
  computed: {
    appliedStyles () {
      return {
        'text-bold': this.textStyles.includes('bold'),
        'text-italic': this.textStyles.includes('italic'),
        'text-underline': this.textStyles.includes('underline'),
        'text-bulleted': this.textStyles.includes('bulleted'),
        'text-numbered': this.textStyles.includes('numbered')
      }
    }
  },
  methods: {
    toggleStyle (style) {
      const index = this.textStyles.indexOf(style)
      console.log(index)
      if (index === -1) {
        this.textStyles.push(style)
      } else {
        this.textStyles.splice(index, 1)
      }
    }
  }
}
</script>

<style>
  .title-text {
    font-size: 20px;
  }

  .container-layout {
    max-width: 1500px;
    margin-left: 40px;
  }

  .text-bold {
    font-weight: bold;
  }

  .text-italic {
    font-style: italic;
  }

  .text-underline {
    text-decoration: underline;
  }

  .text-bulleted {
    list-style-type: disc;
  }

  .text-numbered {
    list-style-type: decimal;
  }
</style>
