<template>
  <div class="bg">
    <v-container class="box">
    <v-row>
      <v-col cols="12" align="center">
        <v-responsive
          class="mx-auto"
          max-width="344">
        <v-text-field class="textfield  " label="กรุณากรอกคะแนนที่ได้" id="grade" v-model-number="grade">
        </v-text-field>
        <v-btn @click="gradecal(grade)">คำนวณ</v-btn>
        <v-container class="resultbox">
             <p class="text">{{result}}</p>
        </v-container>
        </v-responsive>
      </v-col>
    </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data () {
    return {
      grade: '',
      result: ''
    }
  },
  methods: {
    gradecal (grade) {
      parseInt(grade, 10)
      console.log(grade, typeof (grade))
      if (grade > 100 || grade < 0) {
        this.result = 'กรุณาใส่ค่าตั้งแต่ 0-100'
        alert('กรุณาใส่คะแนนเป็นตัวเลข')
        return false
      }
      if (grade >= 80) {
        this.result = 'A'
      } else if (grade >= 70) {
        this.result = 'B'
      } else if (grade >= 60) {
        this.result = 'C'
      } else if (grade >= 50) {
        this.result = 'D'
      } else if (grade < 50) {
        this.result = 'F'
      }
      console.log(this.result, 'result')
    }
  }
}
</script>

<style>
  .bg {
    background-color: antiquewhite;
    height: 740px;
  }

  .box {
    width: 500px;
    height: 400px;
    background-color: rgb(127, 255, 131);
    border-radius: 20px;
    margin-top: 170px;
  }

  .resultbox {
    width: 200px;
    height: 150px;
    border-radius: 20px;
    margin-top: 50px;
    background-color: aliceblue;
  }

  .textfield {
    margin-top: 50px;
  }

  .text {
    font-size: 70px;
  }
</style>
