<template>
  <div>
    <v-container class="containers">
      <v-row no-gutters>
        <v-col sm="12">
          <v-container class="containers2">
            <v-row>
                <v-col sm="12">
                    <p class="typoh1">ประวัติส่วนตัว</p>
                </v-col>
            </v-row>
            <v-row justify="space-between">
              <v-col sm="7">
                <p class="typocontents">ชื่อ: นายนฤเบศน์ อุไรรัตน์</p>
                <p class="typocontents">ชื่อเล่น: แบงค์</p>
                <p class="typocontents">อายุ: 23 ปี</p>
                <p class="typocontents">
                  จบจากมหาวิทยาลัยสงขลานครินทร์ วิทยาเขตหาดใหญ่
                </p>
                <p class="typocontents">
                  คณะวิศวกรรมศาสตร์ สาขาวิชาวิศวกรรมคอมพิวเตอร์
                </p>
                <p class="typocontents">คติประจำใจ: ไม่เลือกงาน ไม่ยากจน</p>
              </v-col>
              <v-col sm="5" xs="just">
                <v-img class="photo" src="../assets/me.jpg"/>
              </v-col>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
      <v-row class="bg-green">
        <v-col sm="4">
          <v-container class="containers3">
            <button>
              <v-img src="../assets/kabuto.jpg" class="photo1" />
            </button>
          </v-container>
        </v-col>
        <v-col sm="4">
          <v-container class="containers3">
            <button>
              <v-img src="../assets/foil.jpg" class="photo" />
            </button>
          </v-container>
        </v-col>
        <v-col sm="4">
          <v-container class="containers3">
            <button>
              <v-img src="../assets/food.jpg" class="photo" />
            </button>
          </v-container>
        </v-col>
      </v-row>
      <v-row>
        <v-col sm="4">
          <v-container class="phototextbox">
            <p class="phototext">
              กิจกรรมยามว่างมักจะเล่นเกม ดูรายการที่ชอบ และอนิเมะ
            </p>
          </v-container>
        </v-col>
        <v-col sm="4">
          <v-container class="phototextbox">
            <p class="phototext">กีฬาที่ชอบคือกีฬาฟันดาบสากล</p>
          </v-container>
        </v-col>
        <v-col sm="4">
          <v-container class="phototextbox">
            <p class="phototext">
              อาหารที่ชอบมีหลายอย่าง ที่ทานบ่อยจะเป็นแกงไตปลา
            </p>
          </v-container>
        </v-col>
      </v-row>
      <v-row class="bg-green">
        <v-col sm="4">
          <v-container class="containers3">
            <button>
              <v-img src="../assets/Cncyr-cover.jpg" class="photo" />
            </button>
          </v-container>
        </v-col>
        <v-col sm="4">
          <v-container class="containers3">
            <button>
              <v-img src="../assets/madoka.jpg" class="photo" />
            </button>
          </v-container>
        </v-col>
        <v-col sm="4">
          <v-container class="containers3">
            <button>
              <v-img src="../assets/sensei.jpg" class="photo" />
            </button>
          </v-container>
        </v-col>
      </v-row>
      <v-row>
        <v-col sm="4">
          <v-container class="phototextbox">
            <p class="phototext">
              เกมที่เล่นมีมากมาย โดยส่วนตัวแล้วชอบเล่นแนว RTS
            </p>
          </v-container>
        </v-col>
        <v-col sm="4">
          <v-container class="phototextbox">
            <p class="phototext">อนิเมะมีหลายเรื่องที่ชอบ ดูได้ทุกแนว</p>
          </v-container>
        </v-col>
        <v-col sm="4">
          <v-container class="phototextbox">
            <p class="phototext">
              ชอบฟังเพลง และร้องเพลง ฟังได้ทุกแนว ชอบเพลงแร็ปเป็นพิเศษ
            </p>
          </v-container>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {}
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
.containers {
  height: 2200px;
  width: 1600px;
  background-color: aquamarine;
  border-radius: 50px;
  margin-top: 50px;
  align-self: center;
  text-align: center;
}

.containers2 {
  height: 600px;
  width: 1000px;
  background-color: rgb(244, 182, 162);
  border-radius: 50px;
  margin-top: 50px;
  text-align: center;
  align-self: center;
}

.containers3 {
  height: 450px;
  width: 350px;
  background-color: rgb(244, 182, 162);
  border-radius: 50px;
  margin-top: 50px;
  text-align: center;
  align-self: center;
}

.typoh1 {
  font-size: 60px;
  font-family: "Sriracha", cursive;
}

.typocontents {
  font-size: 24px;
  text-align: left;
  margin-left: 50px;
  font-family: "Sriracha", cursive;
}

.photo {
  width: 330px;
  height: 430px;
  border-radius: 50px;
}

.photo1 {
  width: 330px;
  height: 430px;
  border-radius: 50px;
}

.phototextbox {
  background-color: rgb(244, 182, 162);
  width: 330px;
  height: 150px;
  border-radius: 20px;
}

.phototext {
  font-size: 24px;
  font-family: "Sriracha", cursive;
}

.box1 {
  margin-top: 20px;
}
</style>
