<template>
  <div>
    <v-container class="containers">
        <v-row>
            <v-container class="containers2">
            <v-col cols="12">
                <p class="typo1">จำนวนสินค้าในตะกร้า {{this.orderlist.length}}</p>
            </v-col>
            <v-col cols="12">
                <p class="typo1">จำนวนเงินที่ต้องชำระ {{this.sum}} บาท</p>
            </v-col>
            <v-col cols="12">
                <v-btn color="success" @click="editdialog()">
                    ตะกร้าสินค้า
                </v-btn>
            </v-col>
            </v-container>
        </v-row>
        <v-row>
            <v-container class="containers3">
                <p class="typo1">สินค้า</p>
            </v-container>
        </v-row>
        <v-row >
            <v-col cols ="4" v-for="(item, index) in product" :key="index">
                <v-card class="card1">
                    <v-row class="mt-3">
                        <v-col cols="12">
                    <p class="typo2">สินค้า: {{item.product_name}}</p>
                        </v-col>
                        <v-col cols="12">
                    <p class="typo2">รายละเอียด: {{item.detail}}</p>
                        </v-col>
                        <v-col cols="12">
                    <p class="typo2">ราคา:  {{item.price}}</p>
                        </v-col>
                    </v-row>
                    <!-- <p>จำนวน: {{item.amount}}</p> -->
                    <v-row class="mb-5 mt-2">
                        <v-col cols="6" align="center">
                            <v-btn color="blue" @click="chooseproducts(item)">เพิ่มลงตะกร้า</v-btn>
                        </v-col>
                        <v-col cols="6" align="center">
                            <v-btn color="error" @click="editdialog()">แก้ไข</v-btn>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>
        </v-row>
        <v-row>
            <v-container class="containers3">
                <p class="typo1">คำสั่งซื้อ</p>
            </v-container>
        </v-row>
        <v-row>
            <v-col
              cols="4"
              v-for="(item, index) in this.transaction" :key="index"
            >
            <v-card >
                <v-row class="mt-3" >
                    <v-col cols="12">
                        <p class="typo2">จำนวนสินค้า: {{item.orderlist.length}}</p>
                    </v-col>
                    <v-col cols="12">
                        <p class="typo2">ยอดชำระ: {{item.totalprice}}</p>
                    </v-col>
                </v-row >
                <v-row class="mt-5">
                    <v-col cols="6" align="center">
                        <v-btn
                  color="blue"
                  @click="openOrderedit(item._id)"
                >
                  แก้ไขคำสั่งซื้อ
                </v-btn>
                    </v-col>
                    <v-col cols="6" align="center">
                        <v-btn
                  color="error"
                  @click="deleteOrders(item._id)"
                >
                  ยกเลิกคำสั่งซื้อ
                </v-btn>
                    </v-col>
                </v-row>
            </v-card>
            </v-col>
        </v-row>
    </v-container>
    <v-dialog
      v-model="dialogedit"
      max-width="500"
    >
        <v-card>
          <v-card-title>
            ตะกร้าสินค้า
          </v-card-title>
          <v-card-text>
    <v-col v-for="(item, index) in orderlist" :key="index">
            <v-text-field
              v-model="item.product_name"
              label="ชื่อสินค้า"
              type="String"
            ></v-text-field>
            <v-btn
              color="error"
              @click="deleteproducts(index)"
            >
              ลบ
            </v-btn>
    </v-col>
          </v-card-text>
          <v-card-actions>
            <v-btn color="blue" @click="postData()">สั่งซื้อ</v-btn>
            <v-btn color="error" @click="closeItem()">ยกเลิก</v-btn>
          </v-card-actions>
        </v-card>
    </v-dialog>
    <v-dialog
      v-model="this.orderdialog"
      max-width="500"
    >
        <v-card>
            <v-card-title>
                <h2>รายละเอียดคำสั่งซื้อ</h2>
            </v-card-title>
            <v-card-text>
                <v-col cols="12" v-for="(item, index) in this.orderbyId.orderlist" :key="index">
                    <v-row>
                        <v-col cols="6">
                        {{item.product_name}}
                        </v-col>
                        <v-col cols="6">
                            <v-btn
                                color="error"
                                @click="RemoveOrder(index)"
                            >
                              นำออกจากตะกร้า
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-col>
            </v-card-text>
            <v-card-actions>
                <v-btn
                    color="success"
                    @click="Editorder()"
                >
                    บันทึกการเปลี่ยนแปลง
                </v-btn>
                <v-btn
                    color="error"
                    @click="closeOrders()"
                >
                    ยกเลิก
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data () {
    return {
      product: {},
      orderlist: [],
      editdata: [],
      sum: 0,
      dialogedit: false,
      orderdialog: false,
      myNumber: null,
      transaction: {},
      orderbyId: {}
    }
  },
  created () {
    console.log('hello')
    this.getdata()
    this.gettransaction()
  },
  watch: {
    orderlist: {
      handler () {
        this.calsum()
      }
    }
  },
  methods: {
    getdata () {
      this.axios('http://localhost:3000/products').then((response) => {
        this.product = response.data.data
      })
    },
    async gettransaction () {
      await this.axios('http://localhost:3000/orderV2').then((response) => {
        this.transaction = response.data.data
      })
    },
    chooseproducts (item) {
      this.orderlist.push(item)
    },
    deleteproducts (index) {
      this.orderlist.splice(index, 1)
    },
    RemoveOrder (index) {
      this.orderbyId.orderlist.splice(index, 1)
    },
    calsum () {
      this.sum = 0
      for (let i = 0; i < this.orderlist.length; i++) {
        const price = this.orderlist[i].price
        console.log(this.orderlist[i])
        this.sum += price
      }
    },
    editdialog () {
      this.dialogedit = true
    },
    openOrderedit (item) {
      this.orderdialog = true
      this.getorderbyId(item)
    },
    saveditdialog () {
    },
    closeItem () {
      this.dialogedit = false
    },
    closeOrders () {
      this.orderdialog = false
    },
    async postData () {
      try {
        const newlist = { orderlist: this.orderlist, totalprice: this.sum }
        const { data } = await this.axios.post('http://localhost:3000/orderV2', newlist)
        console.log(data)
        alert('สั่งซื้อสำเร็จ')
        this.closeItem()
        this.gettransaction()
        this.orderlist = []
      } catch (error) {
        console.log(error)
        alert('error')
      }
    },
    async getorderbyId (id) {
      await this.axios.get('http://localhost:3000/orderV2/' + id).then((response) => {
        console.log(response.data.data)
        this.orderbyId = response.data.data
      })
    },
    async handleEdit () {
      this.Editorder()
      this.closeOrders()
      this.getorderbyId(this.orderbyId._id)
    },
    async Editorder () {
      try {
        await this.axios.put('http://localhost:3000/orderV2/' + this.orderbyId._id, this.orderbyId).then((response) => {})
        this.gettransaction()
        this.closeOrders()
      } catch (error) {
        alert(error.message)
      }
    },
    async deleteOrders (id) {
      try {
        await this.axios.delete('http://localhost:3000/orderV2/' + id).then((response) => {})
        await this.gettransaction()
      } catch (error) {
        alert(error.message)
      }
    }
  }
}
</script>

<style>
  .containers {
    width: 1500px;
    height: 1500px;
    background-color: rgb(117, 226, 226);
    margin-top: 10px;
    border-radius: 20px;
  }

  .typo1 {
    font-size: 24px;
  }

  .typo2 {
    font-size: 18px;
    margin: 10px;
  }

  .containers2 {
    width: 950px;
    height: 230px;
    background-color: rgb(244, 176, 250);
    margin-top: 25px;
    border-radius: 20px;
    align-items: left;
  }

  .containers3 {
    width: 200px;
    height: 40px;
    background-color: rgb(117, 226, 226);
    margin-top: 10px;
    align-self: flex-end;
  }

  .card1 {
    align-content: center;
  }
</style>
