<template>
  <div>
    <v-row>
        <v-col>
            <span>Dashboard</span>
        </v-col>
    </v-row>
    <v-row>
        <v-col cols="6">
            <v-row>
                <v-col cols="4">
                    <v-select
                        outlined
                        dense
                        :items="monthlist"
                        class="rounded-xxl"
                        label="Month"
                    ></v-select>
                </v-col>
                <v-col cols="4">
                    <DatePicker
                        label="วันที่"
                    />
                </v-col>
                <v-col cols="4">
                    <DatePicker
                        label="ถึง"
                    />
                </v-col>
            </v-row>
        </v-col>
        <v-col cols="6">
            <v-btn
                color="aquamarine"
                class="white--text rounded-pill"
                dense
            >
                ค้นหา
            </v-btn>
        </v-col>
    </v-row>
    <v-row>
        <v-col cols="3" v-for="(item, index) in titlelist" :key="index">
            <DashboardBox
                :title="item.title"
                :titlecolor="item.color"
            />
        </v-col>
    </v-row>
  </div>
</template>

<script>
import DatePicker from '../components/StartDate'
import DashboardBox from '../components/DashBoardBoxComponent'
export default {
  name: 'PaymentDashboard',
  components: {
    DatePicker,
    DashboardBox
  },
  data () {
    return {
      monthlist: [
        'มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน',
        'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤศจิกายน', 'ธันวาคม'
      ],
      titlelist: [
        { title: 'จำนวนบิลทั้งหมด', color: '#068bf4' },
        { title: 'บิลที่จ่ายแล้ว', color: '#13d596' },
        { title: 'บิลที่ยังไม่จ่าย', color: '#f7b023' },
        { title: 'บิลที่เกินกำหนด', color: '#e84c62' }
      ],
      titlecolor: [
        'blue', 'green', 'yellow', 'red'
      ]
    }
  }
}
</script>

<style>

</style>
