<template>
  <div>
    <v-container class="grid">
    <v-row class="h1">
      <v-col>
        <h4 class="overview">Overview</h4>
      </v-col>
    </v-row>
    <v-card class="button">
      <v-layout class="overflow-visible">
        <v-bottom-navigation
          color="blue"
          grow
        >
          <v-layout v-for="(item, index) in select" :key="index">
              <v-btn v-if="selected === item && ison === true" color="blue" @click="setFalseValue()" class="navbutton">
                <p class="font1">{{item}}</p>
              </v-btn>
              <v-btn v-else @click="setButtonValue(item)">
                {{item}}
              </v-btn>
          </v-layout>
        </v-bottom-navigation>
      </v-layout>
    </v-card>
    <v-row>
        <v-col cols="12" sm="6" md="2">
            <v-card class="s-box">
              <v-layout>
                <v-row>
                  <v-col cols="8">
                    <p class="box-title-text">chart is here</p>
                  </v-col>
                  <v-col cols="4" class="d-flex justify-end">
                    <v-btn icon class="mr-5">
                      <v-icon>
                        mdi-dots-horizontal
                      </v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
              </v-layout>
            </v-card>
        </v-col>
        <v-col cols="12" sm="6" md="2">
          <v-card class="s-box">
            <v-layout>
              <v-row>
                <v-col cols="8">
                  <p class="box-title-text">Total Product</p>
                </v-col>
                <v-col cols="4" class="d-flex justify-end">
                  <v-btn icon class="mr-5">
                    <v-icon>
                      mdi-dots-horizontal
                    </v-icon>
                  </v-btn>
                </v-col>
              </v-row>
            </v-layout>
            <v-row>
              <v-col>
                <p class="box-p-text">{{totalproducts}}</p>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <v-col cols="12" sm="6" md="2">
          <v-card class="s-box">
            <v-layout>
              <v-row>
                <v-col cols="8">
                  <p class="box-title-text">Total Ordering</p>
                </v-col>
                <v-col cols="4" class="d-flex justify-end">
                  <v-btn icon class="mr-5">
                    <v-icon>
                      mdi-dots-horizontal
                    </v-icon>
                  </v-btn>
                </v-col>
              </v-row>
            </v-layout>
            <p class="box-p-text">{{totalorders}}</p>
          </v-card>
        </v-col>
        <v-col cols="12" sm="6" md="2">
          <v-card class="s-box">
            <v-layout>
              <v-row>
                <v-col cols="8">
                  <p class="box-title-text">Total Users</p>
                </v-col>
                <v-col cols="4" class="d-flex justify-end">
                  <v-btn icon class="mr-5">
                    <v-icon>
                      mdi-dots-horizontal
                    </v-icon>
                  </v-btn>
                </v-col>
              </v-row>
            </v-layout>
          </v-card>
        </v-col>
        <v-col cols="12" sm="6" md="2">
          <v-card class="s-box">
           <v-layout>
              <v-row>
                <v-col cols="8">
                  <p class="box-title-text">Total Image</p>
                </v-col>
                <v-col cols="4" class="d-flex justify-end">
                  <v-btn icon class="mr-5" id="menu-activator">
                    <v-icon>
                      mdi-dots-horizontal
                    </v-icon>
                  </v-btn>
                </v-col>
              </v-row>
            </v-layout>
            <v-dialog v-model="isImageDialogOpen" max-width="400" persistent>
              <v-card>
                <v-card-title>
                  Upload URL
                </v-card-title>
                <v-spacer></v-spacer>
                <v-card-text>
                  <v-text-field
                    label="image url"
                    name="image url"
                    id="id"
                    v-model="posturl.url"
                  >
                  </v-text-field>
                  <v-sheet v-for="(item, index) in imagelist" :key="index">
                    <v-img :src="item.url"/>
                  </v-sheet>
                </v-card-text>
                <v-card-actions>
                  <v-btn @click="isImageDialogOpen = false"> CANCLE </v-btn>
                  <v-btn
                    @click="uploadUrl()"
                    :disabled="posturl.url === ''"
                  > UPLOAD </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-dialog v-model="openUploadFile" max-width="400" persistent>
              <v-card>
                <v-card-title>
                  Upload Image
                </v-card-title>
                <v-spacer></v-spacer>
                <v-card-text>
                  <v-text-field
                    label="image url"
                    name="image url"
                    id="id"
                    v-model="posturl.url"
                  >
                  </v-text-field>
                  <v-sheet v-for="(item, index) in imagelist" :key="index">
                    <v-img :src="item.url"/>
                  </v-sheet>
                </v-card-text>
                <v-card-actions>
                  <v-btn @click="openUploadFile = false"> CANCLE </v-btn>
                  <v-btn
                    @click="uploadUrl()"
                    :disabled="posturl.url === ''"
                  > UPLOAD </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-card>
        </v-col>
        <v-col cols="12" sm="6" md="2">
          <v-card class="s-box">
            <v-layout>
              <v-row>
                <v-col cols="8">
                  <p class="box-title-text">Menu</p>
                </v-col>
                <v-col cols="4" class="d-flex justify-end">
                  <v-btn icon class="mr-5">
                    <v-icon>
                      mdi-dots-horizontal
                    </v-icon>
                  </v-btn>
                </v-col>
              </v-row>
            </v-layout>
          </v-card>
        </v-col>
    </v-row>
    </v-container>
    <v-container class="mb-8">
        <v-row>
            <v-col cols="12" sm="6" md="4">
                <v-card>
                    <v-row>
                      <v-col cols="6">
                        <h4 class="ml-7">Ticket Type</h4>
                      </v-col>
                      <v-col cols="6" class="d-flex justify-end">
                        <v-btn icon class="mr-5">
                          <v-icon>
                            mdi-dots-horizontal
                          </v-icon>
                        </v-btn>
                      </v-col>
                    </v-row>
                    <v-row class="ml-4">
                        <v-col>
                            <DoughnutChart
                              :chart-id="'my-doughnut-chart'"
                            />
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>
            <v-col cols="12" sm="6" md="8">
                <v-card>
                    <v-row>
                      <v-col cols="6" class="d-flex justify-start">
                        <h4 class="ml-7">Task Analysis</h4>
                      </v-col>
                      <v-col cols="6" class="d-flex justify-end">
                        <v-btn icon class="mr-5">
                          <v-icon>
                            mdi-dots-horizontal
                          </v-icon>
                        </v-btn>
                      </v-col>
                    </v-row>
                    <v-row class="ml-4">
                        <v-col>
                          <BarChart
                            :chart-id="'my-bar-chart'"
                          />
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
    <v-container>
      <v-row>
        <v-col cols="12" sm="6">
          <v-card>
            <v-row>
              <v-col cols="6">
                <h4 class="ml-7">Task Analysis</h4>
              </v-col>
              <v-col class="d-flex justify-end mr-5">
                <v-btn icon>
                  <v-icon>mdi-dots-horizontal</v-icon>
                </v-btn>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <BarChart2/>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <v-col cols="12" sm="6">
          <v-card>
            <v-row>
              <v-col>
                <h4 class="ml-7">Work Order</h4>
              </v-col>
              <v-col class="d-flex justify-end mr-5">
                <v-btn icon>
                  <v-icon>mdi-dots-horizontal</v-icon>
                </v-btn>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <BarChart3/>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <v-menu activator="#menu-activator">
      <v-list>
        <v-list-item
          v-for="(item, index) in dotsmenu" :key="index" :value="index"
        >
          <v-list-item-title v-if="item.title === 'View'" @click="setOpenImageDialog()">
            {{ item.title }}
          </v-list-item-title>
          <v-list-item-title v-else-if="item.title === 'Upload'" @click="openUploadFile = true">
            {{ item.title }}
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
import DoughnutChart from '../components/Doughnut.vue'
import BarChart from '../components/BarChart.vue'
import BarChart2 from '../components/BarChart2.vue'
import BarChart3 from '../components/BarChart3.vue'
export default {
  data () {
    return {
      totalproducts: 0,
      totalorders: 0,
      selected: '',
      ison: false,
      isImageDialogOpen: false,
      select: ['Day', 'Month', 'Year'],
      dotsmenu: [
        { title: 'View' },
        { title: 'Upload' }
      ],
      dotsmenuOpen: false,
      imagelist: [],
      posturl: {
        url: ''
      },
      openUploadFile: false
    }
  },
  components: {
    DoughnutChart,
    BarChart,
    BarChart2,
    BarChart3
  },
  created () {
    this.getProducts()
    this.getOrderLists()
    this.getphoto()
  },
  mounted () {
    this.ison = true
  },
  methods: {
    setOpenValue () {
      this.ison = true
    },
    setOpenMenu () {
      this.dotsmenuOpen = true
    },
    setOpenImageDialog () {
      console.log('ok')
      this.isImageDialogOpen = true
    },
    closeImageDialog () {
      this.isImageDialogOpen = false
    },
    setButtonValue (str) {
      this.selected = str
      this.setOpenValue()
    },
    setFalseValue () {
      this.ison = false
    },
    async getProducts () {
      this.axios('http://localhost:3000/orderV2').then((response) => {
        this.totalorders = response.data.data.length
      })
    },
    async getOrderLists () {
      this.axios('http://localhost:3000/products').then((response) => {
        this.totalproducts = response.data.data.length
      })
    },
    async getphoto () {
      this.axios.get('http://localhost:3000/images/').then((response) => {
        this.imagelist = response.data.data
      })
    },
    async uploadUrl () {
      try {
        const { data } = this.axios.post('http://localhost:3000/images/', this.posturl).then((response) => {
          console.log(data)
          this.isImageDialogOpen = false
          this.posturl.url = ''
          this.getphoto()
        })
      } catch (error) {
        alert(error.message)
      }
    }
  }
}
</script>

<style>
  .backgroud {
    background: #e7e0e0;
  }

  .button {
    width: 300px;
    height: 50px;
    margin-bottom: 40px;
    margin-top: 20px;
    border-radius: 50px;
  }

  .grid {
     text-align: center;
     margin-bottom: 20px;
  }

  .s-box {
    text-align: left;
    height: 120px;
  }

  .h1 {
    text-align: left;
  }

  .font1 {
    color: white;
    margin-top: 16px;
  }

  .navbutton {
    width: 100px;
  }

  .overview {
    font-size: 28px;
  }

  .box-title-text {
    font-size: 16px;
    margin-left: 10px;
  }

  .box-p-text {
    font-size: 30px;
    margin-left: 10px;
  }
</style>
