<template>
  <div>
    <v-row>
      <v-col cols="12">
        <h1 v-if="show">welcome</h1>
        <h1>{{ name }}</h1>
        <v-btn color="success" @click="show = !show">สวิต</v-btn>
        <div>
          <v-card width="400" height="500">
            <v-img
              src="https://img.wongnai.com/p/400x0/2022/02/22/88a3d10cc695492ba98ec930f6611d1f.jpg"
            />
          </v-card>
        </div>
      </v-col>
      <v-col cols="4" v-for="(item,index) in dataset" :key ="index">
        <v-card width="450px">
            <v-img :src="item.imgp" />
            <v-card-title primary-title>
                {{item.message}}
            </v-card-title>
        </v-card>
      </v-col>
      <v-col>
        <v-btn color="error" @click="alertNormal()">ประกาศ</v-btn>
        <v-col clos="6">
            <v-text-field
              name="namealert"
              label="INPUT Name"
              id="namealert"
              v-model="namealert"
            >
            </v-text-field>
        </v-col>
        <v-col>
            <v-btn class="mt-3" color="success" @click="alertParam(namealert)">alert</v-btn>
        </v-col>
        <v-col cols="12">
            <simplecom :name="name" @alertNormal="alertNormal"/>
        </v-col>
    <v-btn id="menu-activator" color="primary"> Sibling activator </v-btn>
        <v-col cols="12">
            <v-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPM3Crc7cfEBn7avcSc9_KO1WuLMJ57beyLpINRvPeiQ&s"></v-img>
        </v-col>
      </v-col>
    </v-row>
    <v-menu activator="#menu-activator">
      <v-list>
        <v-list-item v-for="(item, index) in dataset" :key="index" :value="index">
          <v-list-item-title>{{ item.message }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
import simplecom from '../components/simplecom'
import { EventBus } from '@/EventBus'
export default {
  components: { simplecom },
  data () {
    return {
      namealert: '',
      dataset: [
        { message: 'HI', imgp: 'https://img.wongnai.com/p/400x0/2022/02/22/88a3d10cc695492ba98ec930f6611d1f.jpg' },
        { message: 'Hello', imgp: require('../assets/Cncyr-cover.jpg') },
        { message: 'Hello', imgp: require('../assets/Cncyr-cover.jpg') },
        { message: 'Hello', imgp: require('../assets/Cncyr-cover.jpg') },
        { message: 'Hello', imgp: require('../assets/Cncyr-cover.jpg') }
      ],
      name: 'bank',
      show: false
    }
  },
  mounted () {
    EventBus.$on('callAlert', this.alertParam)
  },
  methods: {
    alertNormal () {
      alert('สวัสดีจ้า')
    },
    alertParam (item) {
      alert(item)
    }
  }
}
</script>

<style></style>
