<template>
  <v-sheet color="#f5fcfb">
    <v-row>
      <v-col class="d-flex justify-center mt-10">
        <v-sheet width="1230px" color="#f5fcfb">
          <v-carousel
            cycle
            height="420px"
            hide-delimiter-background
            show-arrows-on-hover
            style=""
          >
            <v-carousel-item
              v-for="(slide, i) in slides"
              :key="i"
            >
              <v-img :src="slide"/>
            </v-carousel-item>
          </v-carousel>
        </v-sheet>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="d-flex justify-center">
        <v-sheet width="1230px" color="#f5fcfb">
          <v-card rounded>
            <v-img src="https://nexgencommerce.one.th/img/banner-cat.290341a8.jpg">
              <v-row class="mt-5 ml-10 mr-10">
                <v-col class="white--text" style="font-size: 24px" cols="3">
                  <span class="fonts text-bold">หมวดหมู่สินค้า</span>
                </v-col>
                <v-spacer></v-spacer>
                <v-col class="d-flex justify-end" cols="2">
                  <v-select
                    solo
                    dense
                    class="custom-placeholder text-bold fonts"
                    placeholder="ทั้งหมด"
                  >
                    <template>
                      <span>ทั้งหมด</span>
                    </template>
                  </v-select>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-slide-group>
                    <v-slide-item
                      v-for="(item, index) in category"
                      :key="index"
                    >
                      <v-card width="150px" height="150px" class="ma-5"  link>
                          <v-row>
                            <v-col class="d-flex justify-center">
                              <v-img :src="item.path" width="120px"></v-img>
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col class="d-flex justify-center">
                              <span class="fonts">{{item.category_name}}</span>
                            </v-col>
                          </v-row>
                      </v-card>
                    </v-slide-item>
                  </v-slide-group>
                </v-col>
              </v-row>
            </v-img>
          </v-card>
        </v-sheet>
      </v-col>
    </v-row>
  </v-sheet>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
      colors: [
        'indigo',
        'warning',
        'pink darken-2',
        'red lighten-1',
        'deep-purple accent-4'
      ],
      slides: [
        'https://nexgencommerce.one.th/static/landing_page/banner202402211209181.webp',
        'https://nexgencommerce.one.th/static/landing_page/banner202402211209160.webp',
        'https://nexgencommerce.one.th/static/landing_page/banner202402211209182.webp'
      ],
      category: [
        {
          category_name: 'Health Rider',
          path: 'https://nexgencommerce.one.th/static/category/Health_Rider.png'
        },
        {
          category_name: 'Fourze',
          path: ''
        },
        {
          category_name: 'Blade',
          path: ''
        },
        {
          category_name: 'Faiz',
          path: ''
        },
        {
          category_name: 'Fourze',
          path: ''
        },
        {
          category_name: 'Blade',
          path: ''
        },
        {
          category_name: 'Faiz',
          path: ''
        },
        {
          category_name: 'Fourze',
          path: ''
        },
        {
          category_name: 'Blade',
          path: ''
        },
        {
          category_name: 'Faiz',
          path: ''
        },
        {
          category_name: 'Fourze',
          path: ''
        },
        {
          category_name: 'Blade',
          path: ''
        },
        {
          category_name: 'Faiz',
          path: ''
        },
        {
          category_name: 'Fourze',
          path: ''
        },
        {
          category_name: 'Blade',
          path: ''
        },
        {
          category_name: 'Faiz',
          path: ''
        },
        {
          category_name: 'Ryuki',
          path: ''
        }
      ]
    }
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

.fonts {
  font-family: "Noto Sans Thai", sans-serif;
}
</style>

<style scoped>
  .custom-placeholder ::v-deep input::placeholder {
    color: rgb(31, 135, 175);
    opacity: 1;
  }

  .text-bold {
    font-weight: bold;
  }
</style>
