<template>
  <v-card
    class="borders"
    elevation="0"
    color="#f5f6fa"
  >
  <v-card outlined class="borders" style="border-color: #4fa894">
    <v-row>
        <v-col class="pa-0 d-flex justify-center pt-3">
            <p :style="{ color: titlecolor }" class="mb-0 pa-0 title" >{{title}}</p>
        </v-col>
    </v-row>
    <v-row>
        <v-col class="pa-0 d-flex justify-end mr-10">
            <p class="mb-0 pa-0">รายการ</p>
        </v-col>
    </v-row>
    <v-row>
        <v-col class="pa-0 d-flex justify-end pb-3 mr-10">
            <p class="mb-0 pa-0">บาท</p>
        </v-col>
    </v-row>
  </v-card>
  </v-card>
</template>

<script>
export default {
  name: 'DashboardBox',
  props: {
    title: {
      type: String
    },
    titlecolor: {
      type: String
    }
  }
}
</script>

<style>
  .borders {
    border-width: 50px;
  }

  .title {
    font-size: 18px;
  }
</style>
