<template>
  <v-dialog
    v-model="dialog"
  >
        <iframe
          ref="iframe"
          src="https://csat-survey-uat.inet.co.th/satisfaction/survey?shared_token=&account_id=85117497804828871&biz_id=1350909594477048&redirect_url=&service_id=127&role=user"
          height="730"
          @load="setupIframeListener"
        >
        </iframe>
  </v-dialog>
</template>

<script>
export default {
  name: 'IfreamDialog',
  data () {
    return {
      dialog: false
    }
  },
  created () {
    this.dialog = this.$store.getters['dialog/GetIframeDialog']
  },
  methods: {
    closeDialog () {
      this.dialog = false
    },
    setupIframeListener () {
      this.$refs.iframe.contentWindow.addEventListener('message', this.handleIframeMessage)
    },
    handleIframeMessage (event) {
      if (event.data === 'iframeCloseDialog') {
        this.closeDialog()
      }
    }
  }
}
</script>

<style>

</style>
