<template>
  <div>
    <v-card width="400" height="500">
        <v-img src="https://img.wongnai.com/p/400x0/2022/02/22/88a3d10cc695492ba98ec930f6611d1f.jpg"/>
    </v-card>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
