<template>
    <v-container class="containers" fluid>
        <v-card rounded="xl">
            <v-form
                lazy-validation
            >
                <v-row>
                    <v-col cols="12" class="d-flex justify-center">
                        <span class="title">Bill Payment Lite</span>
                    </v-col>
                </v-row>
                <v-row class="ml-5 mr-5">
                    <v-col cols="12" class="d-flex justify-center">
                        <v-text-field
                            v-model="username"
                            label="username"
                            outlined
                            hide-details
                            required
                            type='text'
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row class="ml-5 mr-5">
                    <v-col cols="12" class="d-flex justify-center">
                        <v-text-field
                            v-model="password"
                            label="password"
                            outlined
                            hide-details
                            required
                            type='password'
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row class="ml-5 mr-5">
                    <v-col cols="12" class="d-flex justify-center">
                        <v-btn color="aquamarine" block class="mb-10 white--text" @click="sendLoginRequest()">
                            SIGN IN
                        </v-btn>
                    </v-col>
                </v-row>
            </v-form>
        </v-card>
    </v-container>
</template>

<script>
export default {
  name: 'Login',
  computed: {
    username: {
      get () {
        return this.$store.getters['authentication/GetUsername']
      },
      set (value) {
        this.$store.commit('authentication/SetUsername', value)
      }
    },
    password: {
      get () {
        return this.$store.getters['authentication/GetPassword']
      },
      set (value) {
        this.$store.commit('authentication/SetPassword', value)
      }
    }
  },
  methods: {
    sendLoginRequest () {
      this.$store.dispatch('authentication/signIn')
    }
  }
}
</script>

<style>
  .containers {
    width: 600px;
    margin-top: 170px;
  }

  .title {
    font-size: 24px;
  }
</style>
