<template>
  <ResponsiveContainer width="100%" height="100%">
    <PieChart :width="400" :height="400">
      <Pie
        :activeIndex="activeIndex"
        :activeShape="renderActiveShape"
        :data="data"
        cx="50%"
        cy="50%"
        :innerRadius="60"
        :outerRadius="80"
        fill="#8884d8"
        dataKey="value"
        @mouseenter="onPieEnter"
      />
    </PieChart>
  </ResponsiveContainer>
</template>

<script>
import { PieChart, Pie, Sector, ResponsiveContainer } from 'recharts'

export default {
  components: {
    ResponsiveContainer,
    PieChart,
    Pie
  },
  data () {
    return {
      data: [
        { name: 'Group A', value: 400 },
        { name: 'Group B', value: 300 },
        { name: 'Group C', value: 300 },
        { name: 'Group D', value: 200 }
      ],
      activeIndex: 0
    }
  },
  methods: {
    renderActiveShape (props) {
      const RADIAN = Math.PI / 180
      const { cx, cy, midAngle, innerRadius, outerRadius, startAngle, endAngle, fill, payload, percent, value } = props
      const sin = Math.sin(-RADIAN * midAngle)
      const cos = Math.cos(-RADIAN * midAngle)
      const sx = cx + (outerRadius + 10) * cos
      const sy = cy + (outerRadius + 10) * sin
      const mx = cx + (outerRadius + 30) * cos
      const my = cy + (outerRadius + 30) * sin
      const ex = mx + (cos >= 0 ? 1 : -1) * 22
      const ey = my
      const textAnchor = cos >= 0 ? 'start' : 'end'

      return (
        <g>
          <text x={cx} y={cy} dy={8} text-anchor="middle" fill={fill}>
            {payload.name}
          </text>
          <Sector
            cx={cx}
            cy={cy}
            innerRadius={innerRadius}
            outerRadius={outerRadius}
            startAngle={startAngle}
            endAngle={endAngle}
            fill={fill}
          />
          <Sector
            cx={cx}
            cy={cy}
            startAngle={startAngle}
            endAngle={endAngle}
            innerRadius={outerRadius + 6}
            outerRadius={outerRadius + 10}
            fill={fill}
          />
          <path d={`M${sx},${sy}L${mx},${my}L${ex},${ey}`} stroke={fill} fill="none" />
          <circle cx={ex} cy={ey} r={2} fill={fill} stroke="none" />
          <text x={ex + (cos >= 0 ? 1 : -1) * 12} y={ey} text-anchor={textAnchor} fill="#333">{`PV ${value}`}</text>
          <text x={ex + (cos >= 0 ? 1 : -1) * 12} y={ey} dy={18} text-anchor={textAnchor} fill="#999">
            {`(Rate ${(percent * 100).toFixed(2)}%)`}
          </text>
        </g>
      )
    },
    onPieEnter (_, index) {
      this.activeIndex = index
    }
  }
}
</script>
