<template>
  <div>
    <h1>Message :{{name}}</h1>
    <v-btn @click="callMain" color="succes">call main fn</v-btn>
  </div>
</template>

<script>
import { EventBus } from '@/EventBus'
export default {
  props: ['name'],
  methods: {
    callMain () {
      // this.$emit('alertNormal')
      EventBus.$emit('callalert', 'แมว')
    }
  }
}
</script>

<style></style>
